.sidebar-brand img {
	width: 200px;
	height: 40px;
}

.menu-user img {
	width: 45px;
	border-radius: 45px;
}

.my-query {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap
}

.my-query>div {
	padding: 3px
}

.my-query-btn {
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end
}
